
  
  div.bookdisplay {
    background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
    margin-top: 150px;
  }
  h2{
    text-align: center;
    font-family: 'Paytone One',sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .row-items{
    
    grid-gap:2rem;
    
    
    background-color: #0d1722;
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-top: var(--bs-gutter-y);
      display: flex;
      
      
  
  }
  
  
  .container-img{
  height: 200px;
  width:150px;
  padding: 5px;
  background: var(--bg-color);
  box-shadow:  rgb(85 85 85 / 40%);
}
.container-img img{
  height: 200px;
   width: 150px;
    display: table-cell;
    padding: 15px;
  background: var(--bg-color);
  box-shadow: 25px 10px 30px rgb(85 85 85 / 20%);
  margin-bottom: 15px;
  
  cursor: pointer;
  
}
.responsive h4{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 28px;
  
  box-shadow:  rgb(85 85 85 / 40%);
  
}
.responsive p{
  font-size: 15px;
  color: black;
  
  box-shadow:  rgb(85 85 85 / 40%);
}
.responsive:hover{
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translateY(-3px);
}
code, kbd, pre {
  background-color: #cfc;
  color: navy;
  font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: smaller;
}

pre {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  overflow: auto;
  padding: 0.75em 1.625em;
}

.box-list {
border: dashed black 1px;
display: inline-flex;
  align-items: center;
  flex-direction: column;
/* when cdkDropListOrientation="horizontal" comment out flex properties below: */
/* flex-direction: row; */
margin: .5em;
padding: .5em 0;
width: 45%;
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box {
background-color: yellow;
border: dashed orange 1px;
cursor: move;
display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: center;
margin: .25em;
padding: .25em;
width: 90%;
}

.cdk-drag {
/* this is the animation that fires for the drag */
  transition: transform 150ms ease;
}

.cdk-drag-animating {
/* this is the animation that fires for the drop */
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
/* setting opacity to zero makes a blank space between list items during drag preview */
opacity: 0;
}

.cdk-drag-preview {
background-color: greenyellow;
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
opacity: .7;
}


.display{
  background-color: var(--bg-color);
  border: 1px solid #f0eded;
  padding: 70px 100px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1s ease 0s;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
  
  
}
.taskname{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 50px;
  font-family: 'Paytone One',sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

@media(max-width: 1400px){
  .row-items{
    
    // grid-gap:2rem;
    
    
    background-color: #0d1722;
    //   flex-shrink: 0;
    //   width: 100%;
    //   max-width: 100%;
    //   padding-right: calc(var(--bs-gutter-x) * .5);
    //   padding-left: calc(var(--bs-gutter-x) * .5);
    //   margin-top: var(--bs-gutter-y);
      display: block;
      
      
  
  }
  .display{
    
    border: 1px solid #f0eded;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1s ease 0s;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
    
    
  }
  .container-img{
    height: 200px;
    width:150px;
    padding: 5px;
    background: var(--bg-color);
    box-shadow:  rgb(85 85 85 / 40%);
  }
  .container-img img{
    height: 200px;
     width: 150px;
      display: table-cell;
      padding: 15px;
    background: var(--bg-color);
    box-shadow: 25px 10px 30px rgb(85 85 85 / 20%);
    margin-bottom: 15px;
    cursor: pointer;
    
  }
}





