
<nav class="navbar navbar-custom sticky-top"(scroll)="onWindowScroll($event);">
	<div class="container-fluid">
	  <img
	  width="70"
	  alt="Book Logo"
	  src="../../assets/Book-icon1.gif"
	/>
	<div class="bx bx-menu" id="menu-icon">
	</div>
	<a class="active" (click)="onhome()"><i class="fa fa-fw fa-home"></i> Home</a>
	<div class="btn-group" dropdown>
	  <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
			  aria-controls="dropdown-animated">
		My Lists <span class="caret"></span>
	  </button>
	  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
		  role="menu" aria-labelledby="button-animated">
		<li role="menuitem"><a class="dropdown-item" (click)="ongocreateList()">Create Lists</a></li>
		<li role="menuitem"><a class="dropdown-item" (click)="ongoViewList()">View Lists</a>
	  </ul>
	</div>
	
	</div>
  </nav>
<!--Home section-->
<div *ngIf="query">
<section class="home" id="home">
	<div class="home-text">
		<h1>Discover the Books <br>that you'll love!</h1>
		<p>Spend less time searching for books<br>
			 so you can spend more time reading!<br>
			That’s why we’ve compiled a list of books.</p>
			<button class="home-btn" #target (click)="scroll(target)">
		Let's go now
	</button>
	</div>
</section>
</div>


<br>
<div id="target" class="row1" *ngIf="query">
	
	<app-book-display></app-book-display>

</div>
<div  *ngIf="!query">
	<router-outlet></router-outlet>
	</div>
	<div class="row1" *ngIf="query">
<section id="contact">
<div class="footer">
	<div class="main">
		
		<div class="list">
			<h4>Quick Links</h4>
			<ul>
				<li><a href="#">About us</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Tour</a></li>
			</ul>

		</div>
		<div class="list">
			<h4>Contact</h4>
			<ul>
				<li><i class="fa fa-home"></i> Abu Dhabi,UAE</li>
				<li><i class="fa fa-envelope"></i> volgasamson@gmail.com</li>
				<li><i class="fa fa-phone"></i> +971 569116620</li>
			</ul>

		</div>
		<div class="list">
			<h4>Connect</h4>
			<div class="social">
				<a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
				<a href="https://www.instagram.com/"><i class="bx bxl-instagram-alt"></i></a>
				<a href="https://twitter.com/?lang=en"><i class="bx bxl-twitter"></i></a>
				<a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a>
			</div>

		</div>


	</div>
</div>
<div>
	<p style="color:white">Copyright @2023 All rights reserved | Made with by Volga Samson</p>
</div>
</section>
</div>







